# Секретный ключ для Flask 
FLASK_KEY=change_me_please

# Ключ для регистрации администраторов (invite)
ADMIN_KEY=change_me

# Пароль приложения Google для отправки email (если содержит пробелы, оставить кавычки)
EMAIL_KEY="your app password"

# Адрес электронной почты отправителя
EMAIL="your-email@gmail.com"
